@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to my simple portfolio page.
<b>Do you like it?</b>
<div class="d-flex flex-wrap gap-3">
@foreach (var item in Colors)
{
        <div class="d-flex px-6 py-2" style="width:@(GetRandom(10,30))px; height:@(GetRandom(70,150))px; background-color:@(item);">
    </div>
}
</div>


